p {
    font-size: 1.25em;
}

:root {
    --primary-color: white;
    --secondary-color: greenyellow;
    --active-color: orange;
    --inactive-color: lightgray;

    --header-font-family: 'Tahoma', sans-serif, bold;
    --body-font-family: 'Tahoma', sans-serif;
    --header-text-color: #555252;
    --body-text-color: #333;
    --header-font-size: 20px;
    --body-font-size: 16px;
    
    --strong-border: 2px solid #555252;
    --active-border: 2px solid var(--active-color);
    --active-gradient: linear-gradient(to top, rgba(255, 165, 0, 0.4), transparent);
}

.flex { display: flex; }
.flex.top { align-items: start; }
.flex.middle { align-items: center; }
.flex.bottom { align-items: end; }
.flex.left { justify-content: left; }
.flex.center { justify-content: center; }
.flex.right { justify-content: right; }
.flex.row { flex-direction: row; }
.flex.column { flex-direction: column; }
.flex.space { justify-content: space-between; }
.x1 { flex: 1; }
.x2 { flex: 2; }
.x3 { flex: 3; }
.x4 { flex: 4; }
.x5 { flex: 5; }
.inline { display: inline; }